*{
    color: rgba(106, 98, 197, 0.90);
    border-image: ;
    color: rgba(255, 255, 255, 0.30);
}
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Paprika', cursive;
